{% extends 'layout.twig' %}
{% block body_class %}collections-page{% endblock body_class %}
{% block body %}
{% if settings.show_breadcrumb %}
  {% include '_breadcrumb.twig' with { breadcrumb_type: 'collections', title: 'Colecciones', blog_url: ''} %}
{% endif %}
{% if settings.collection_image_format == 'portrait' %}
  {% set width_size = '460' %}
  {% set height_size = '745' %}
{% elseif settings.collection_image_format == 'landscape' %}
  {% set width_size = '460' %}
  {% set height_size = '284' %}
{% else %}
  {% set width_size = '460' %}
  {% set height_size = '460' %}
{% endif %}

{% if collections | length > 0 %}
 <div class="container margin-top">
  <div class="row">
    <div class="col-xs-12 section__title">
      <h1 class="section-heading">{{ page_title }}</h1>
    </div>
  </div>
</div>
  <div class="collections">
    <div class="container margin-top margin-bottom">
      <div class="row">
        <div class="col-xs-12 collections__cards">
          <div class="row no-gutter">
            {% for collection in collections %}
            <div class="col-xs-12 col-sm-6 col-md-6 no-gutter">
              {% if collection.image_url is not null %}
                {% set image_url = collection.image_url %}
              {% else %}
                {% set image_url = 'placeholders/product-11.jpg' | global_img_url %}
              {% endif %}
              <div class="collection__item">
                <div class="collection__item__overlay">
                  <a href="/colecciones/{{ collection.permalink }}" class="collection__item__title">
                    <span class="collection__item--link">{{ collection.title }}</span>
                  </a>
                </div>
                <img class="collection__item__img" src="{{ image_url }}&w={{ width_size }}&h={{ height_size }}&fit=crop" alt="">
              </div>
            </div>
             {% endfor %}
            </div>
        </div>
      </div>
      {% include '_pagination.twig' %}
    </div>
  </div>
  {% else %}
   {% include '_collection-placeholder.twig' %}
  {% endif %}
{% endblock %}
