{% set breadcrumb_type = breadcrumb_type %}
{% set title = title %}
{% set blog_url = blog_url %}
{% set subtitle = subtitle %}
{% set filter = filter %}

<div class="nav-breadcrumb">
	<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="breadcrumb">
          <li class="breadcrumb__link breadcrub--inactive"><a href="/">Inicio</a></li>
          {% if breadcrumb_type == 'post' %}
          <li class="breadcrumb__link breadcrub--inactive"><a href="/blogs/{{ blog_url |lower }}">{{ title }}</a></li>
          <li class="breadcrumb__link breadcrub--inactive">{{ subtitle }}</li>
          {% elseif breadcrumb_type == 'blog' %}
          <li class="breadcrumb__link breadcrub--inactive">Blogs</li>
          <li class="breadcrumb__link breadcrub--active"><a href="/blogs/{{ blog_url |lower }}">{{ title }}</a></li>
          {% elseif breadcrumb_type == 'product' %}
          <li class="breadcrumb__link breadcrub--inactive"><a href="/productos">{{ title }}</a></li>
          <li class="breadcrumb__link breadcrub--active">{{ subtitle }}</li>
          {% elseif breadcrumb_type == 'products' %}
          <li class="breadcrumb__link breadcrub--inactive"><a href="/productos">{{ title }}</a></li>
          {% elseif breadcrumb_type == 'category' %}
          <li class="breadcrumb__link breadcrub--inactive">Categorias</li>
          <li class="breadcrumb__link breadcrub--inactive"><a href="/categorias/{{ category.permalink }}">{{ title }}</a></li>
          {% elseif breadcrumb_type == 'collection' %}
          <li class="breadcrumb__link breadcrub--inactive"><a href="/colecciones">Colecciones</a></li>
          <li class="breadcrumb__link breadcrub--inactive"><a href="/colecciones/{{ collection.permalink }}">{{ title }}</a></li>
          {% elseif breadcrumb_type == 'collections' %}
          <li class="breadcrumb__link breadcrub--inactive"><a href="/colecciones">{{ title }}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
	</div>
</div>
