{# Square Default Size #}
{% set height = 360 %}
{% if settings.product_thumbnail_form == 'image_portrait' %}
  {% set height = 424 %}
{% elseif settings.product_thumbnail_form == 'image_landscape' %}
  {% set height = 224 %}
{% endif %}

{% if product.image_url is not null %}
  {% set image_url = product.image_url ~ '&w=360&h='~height~'&fit=bounds' %}
  {% set extra_class = 'product-card__with-image' %}
{% else %}
  {% set image_url = 'placeholders/product-11.jpg' | global_img_url %}
  {% set extra_class = 'product-card__no-image' %}
{% endif %}

<div class="product-card">
  <a href="/productos/{{ product.permalink }}{% if product.sku.permalink != 'default' %}/{{ product.sku.permalink }}{% endif %}" class="product-card__image product-card__background {{ settings.product_thumbnail_form }} {{ extra_class }}" style="background-image: url({{ image_url|replace({'(':'%28',')':'%29'}) }});">
    <h5 class="product-card__title">{{ product.name }}<br /><i class="fa fa-shopping-basket basket-thumbnail" aria-hidden="true"></i></h5>
  </a>
  <div class="product-card__description">
    <p class="product-card__title"><a class="link" href="/productos/{{ product.permalink }}{% if product.sku.permalink != 'default' %}/{{ product.sku.permalink }}{% endif %}">{{ product.name }}</a></p>
    <p class="product-card__price"> <span class="final-price">{{ product.price | money('symbol', 'code') }}</span></p>
    {% if product.compared_price > product.price %}
    <p class="compared__price">
      Precio normal: <span class="compared-price"><span class="inner">{{ product.compared_price | money('symbol', 'code') }}</span></span>
    </p>
    {% endif %}
  </div>
</div>
